/* NorthBoard - Foliage style */
/* Like the default, but with static width, background-image and full-width replies. */

@import url('global.css');

/* General */
body {
	color: #d4d4d4;
	font: 12px/1.5em verdana;
	background: #000000 url("foliage_img/bg.jpg") no-repeat 50% 0 fixed;
}

#wrapper {
	width: 1000px;
	margin: auto;
}

/* Typographic */
a {
	color: #60a0dc;
}
a:hover {
	color: #82c2fe;
	text-decoration: none;
}
h1 {
	margin: 5px 0px;
	padding: 5px;
	font-size: 16px;
	text-align: center;
	background-color: #60a0dc;
	color: #000;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}
h2 {
	margin: 0 0 5px 0;
	font-size: 22px;
	text-align: center;
}
h3 {
	margin: 0;
	font-style: oblique;
	font-size: 12px;
	text-align: center;
}
h4 {
	background-color: #60a0dc;
	color: #000;
	padding: 2px 5px;
	margin: 10px 0 0 0;
	font-weight: normal;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
}
h4 span {
	font-weight: bold;
}

/* Sidebar */
#left {
	background: #000;
}
#left li.active {
	background: #153e62;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#left li.header {
	background-color: #60a0dc;
	color: #000;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
}
#left li a:hover {
	background: #206098;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;	
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/* Front page */
#fp_menu ul li {
	background-color: #666;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}

/* Board title and description */
.title {
	font: 32px "Times New Roman";
	color: #60a0dc;
}

/* The information bar above postform ("Please remember blah blah" etc) */
.infobar {
	background-color: #60a0dc;
	color: #000;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.infobar a {
	color: #000;
}

/* Posting form */
#postform td.label {
	border: 1px solid #444;
	background-color: #333;
	color: #60a0dc;
}
#postform td input,
#postform td textarea,
#postform td select {
	background-color: #aaa;
	border: 1px solid #888;
	color: #000;
}
.postboxinfo {
	/* "Max. n files" */
	color: #BBB;
}

/* File upload progress */
#postform #sending td {
	background-color: #538abe;
	border: 1px solid #444;
}
#postform #sending_bg {
	background-color: #206098;
}

/* Threads */
form#deleteform fieldset {
	padding: 0;
	margin: 0;
}
.thread {
	border: 1px solid #333;
	background: #1C1C1C;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.answer {
	display: block;
}
.omitted {
	color: #999;
	font-size: 10px;
}
.msg_cut {
	font-size: 10px;
}
.quote {
	/* >Quote */
	color: #008800;
}
.line {
	/* hr -line between threads */
	border: 0;
	margin: 15px 0;
	border-bottom: 1px solid #999;
}

/* Post info (Post time, ID, name etc) */
.postinfo {
	background-color: #252525;
	border-bottom: 1px solid #1C1C1C;
}
.answer .postinfo {
	background-color: #44444F;
}
.post_subject {
	font-weight: bold;
	font-size: 16px;
	color: #60a0dc;
	display: block;
	padding: 0 0 5px 2px;
}
.postername {
	font-weight: bold;
	color: #93e3ff;
}
.sage {
	color: #60a0dc;
	text-decoration: underline;
	font-weight: bold;
}
.tripcode {
	color: #93e3ff;
}

/* Posts themselves */
.answer {
	background-color: #343439;
	border: 1px solid #3070a9;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;	
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.highlighted {
	border: 3px dashed #63a3dc;
}

/* Files in posts */
.file_single,
.embed {
	background-color: #202020;
	border-right: 1px solid #111;
	border-bottom: 1px solid #111;
}
.answer .file_single,
.answer .embed {
	background-color: #393944;
	border-color: #222;
}
.file_many {
	border: 1px solid black;
	background-color: #333;
}
.fileinfo_single {
	background-color: #202020;
	border-bottom: 1px solid #111;
}
.answer .fileinfo_single {
	background-color: #393944;
	border-color: #222;
}

/* Buttons (Links, mostly) */
.button {
	color: #60a0dc;
	font-size: 12px;
	padding: 2px 5px;
	text-decoration: none;
	border: 1px outset #999;
	background-color: #333;
}
.button:hover {
	background-color: #444;
}
.button:active {
	border-style: inset;
}

/* Page footer (Pagination, delete/report -form etc) */
#buttons_bottom input {
	background-color: #aaa;
	border: 1px solid #888;
	color: #000;
}

/* Moderation panel */
#login {
	border: 1px solid #333;
}
form#adminform legend,
.subtitle {
	font-weight: bold;
	border-bottom: 1px solid #777;
}
.table {
	/* Tables in modpanel */
	border-left: 1px solid white;
}
.table th {
	background-color: #444;
	border-top: 1px solid white;
}
.table th,
.table td {
	border-right: 1px solid white;
	border-bottom: 1px solid white;
}

/* Yah, not working for this theme. */
#hide_sidebar {
	display: none;
}
