files/*
inc/config.php
tmp/*
ads/*
install/*

# Files -symlink for Northpole
files

# Netbeans project files
/nbproject/

# Blinkenworld is now a separate repository at
# https://github.com/Sopsys/blinkenworld
/blinkenworld/
