html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

a,
a > img {
    border: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9001;
}
